body{
    font-family: Arial, Verdana, sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    padding: 15px;
    font-size: 42px;
    text-align: center;
}
h2{
    color: #0D0D0D;
    font-size: 30px;
}
p{
    font-size: 24px;
    padding-left: 10px; 
    padding-top: 10px;
}
img{
    width: 250px;
    border: 10px dashed #FFFFFF;
    display: block;
    margin: auto;
}
div{
    padding: 20px;
    border: 3px solid #FFFFFF;
    min-height: 125px;
}
.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}
.red{
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid #FFFFFF;
    border-left: 5px solid #FFFFFF;
    border-top: none;
    border-right: none;
}
.blue{
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    border-bottom: none;
    border-left: none;
    /* color: #C4C4C4; */
}
.blue h2, .blue p {
    color: #C4C4C4; 
}
.yellow{
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid #FFFFFF;
    border-left: 5px solid #FFFFFF;
    border-top: none;
    border-right: none;
}
.yellow p{
    color: #707070;
}
.green{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    border-bottom: none;
    border-left: none;
}
footer{
    border: 5px solid #FFFFFF;
    background: linear-gradient(
        to right,
        #000000, 
        #0000ff 25%, 
        #0066ff 70%,
        #000000
    )
}
footer p{
    font-size: 20px;
    text-align: right;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: none;
}